@page "/farm"
@using FarmManagementApp.Models
@using FarmManagementApp.Services
@using MudBlazor

<MudContainer>
    <MudPaper Class="p-3" BackgroundColor="grey">
        <div class="mb-4">
            <h3 class="mud-typography-h5 mud-text-primary">Farm Details</h3>
        </div>

        @if (isEditMode)
        {
            <EditForm Model="@farm" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <MudTextField Label="Farm Name" @bind-Value="farm.Name" Class="mb-3" />
                <MudNumericField Label="Total Area (in acres)" @bind-Value="farm.TotalArea" Class="mb-3" />

                <MudCard Class="mb-3">
                    <MudCardContent>
                        <div class="mb-3">
                            <h6 class="mud-typography-h6 mud-text-primary">Address</h6>
                        </div>
                        <MudTextField Label="Country" @bind-Value="farm.FarmAddress.Country" Class="mb-2" />
                        <MudTextField Label="State" @bind-Value="farm.FarmAddress.State" Class="mb-2" />
                        <MudTextField Label="Address Line" @bind-Value="farm.FarmAddress.AddressLine" Class="mb-2" />
                        <MudTextField Label="ZIP" @bind-Value="farm.FarmAddress.ZIP" Class="mb-2" />
                    </MudCardContent>
                </MudCard>

                <MudCard Class="mb-3">
                    <MudCardContent>
                        <div class="mb-3">
                            <h6 class="mud-typography-h6 mud-text-primary">Owner Details</h6>
                        </div>
                        <MudTextField Label="First Name" @bind-Value="farm.FarmOwner.FirstName" Class="mb-2" />
                        <MudTextField Label="Last Name" @bind-Value="farm.FarmOwner.LastName" Class="mb-2" />
                        <MudTextField Label="Email Address" @bind-Value="farm.FarmOwner.EmailAddress" Class="mb-2" />
                        <MudTextField Label="Phone Number" @bind-Value="farm.FarmOwner.PhoneNumber" Class="mb-2" />
                    </MudCardContent>
                </MudCard>

                <div class="mb-3">
                    <MudButton @onclick="ToggleEditMode" Type="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                </div>
            </EditForm>
        }
        else
        {
            <div>
                <div class="mb-1">
                    <p class="mud-typography-body1">Farm Name: @farm.Name</p>
                </div>
                <div class="mb-2">
                    <p class="mud-typography-body1">Total Area: @farm.TotalArea acres</p>
                </div>
                <div class="mb-2">
                    <p class="mud-typography-body1">Address: @farm.FarmAddress.Country, @farm.FarmAddress.State, @farm.FarmAddress.AddressLine, @farm.FarmAddress.ZIP</p>
                </div>
                <div class="mb-2">
                    <p class="mud-typography-body1">Owner: @farm.FarmOwner.FirstName @farm.FarmOwner.LastName</p>
                </div>
                <div class="mb-2">
                    <p class="mud-typography-body1">Email Address: @farm.FarmOwner.EmailAddress</p>
                </div>
                <div class="mb-2">
                    <MudTextField @bind-Value="@farm.FarmOwner.PhoneNumber" Label="PhoneNumber" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="mb-3">
                    <MudButton @onclick="ToggleEditMode">Edit</MudButton>
                </div>
            </div>
        }
    </MudPaper>
</MudContainer>

@code {
    private bool isEditMode = false;
    private Farm farm;
    [Inject]
    private IFarmService farmService { get; set; }

    protected override void OnInitialized()
    {
        // Retrieve farm details from the service
        farm = farmService.GetFarmDetails();
    }

    private void ToggleEditMode()
    {
        isEditMode = !isEditMode;
    }

    private void HandleSubmit()
    {
        // Update farm details using the service
        farmService.UpdateFarmDetails(farm);
        ToggleEditMode();
    }
}
